<%- include("templates/header") %>

<div class="container text-center mt-5">
  <h1 class="display-4 mb-4">Welcome to Assignment 2</h1>

  <% if (!session || !session.authenticated) { %>
    
    <div class="d-flex justify-content-center gap-3">
      <a href="/signup" class="btn btn-lg" style="background-color: #0c66ce; color: white;">Sign Up</a>
      <a href="/login" class="btn btn-lg" style="background-color: #0c66ce; color: white;">Log In</a>
    </div>

  <% } else { %>

      <h2 class="mt-4 text-center">Hello, <strong><%= session.username %></strong>!</h2>
        <div class="d-flex justify-content-center mt-4 gap-3">
        <a href="/members" class="btn btn-lg" style="background-color: #0c66ce; color: white;">Members Area</a>
        <a href="/logout" class="btn btn-lg" style="background-color: #0c66ce; color: white;">Log Out</a>

  </div>
  <% } %>
</div>

<%- include("templates/footer") %>
