<%- include("templates/header") %>

<h2 class="text-center mb-4">Welcome, <%= name %>!</h2>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
    <div class="col">
      <img src="/fluffy.gif" class="img-fluid rounded" alt="Fluffy Cat">
    </div>
    <div class="col">
      <img src="/socks.gif" class="img-fluid rounded" alt="Socks Cat">
    </div>
    <div class="col">
      <img src="/cat.gif" class="img-fluid rounded" alt="Another Cat">
    </div>
  </div>

  <a href="/logout" class="btn btn-danger d-block mx-auto w-50 mt-4">Log Out</a>
</div>

<%- include("templates/footer") %>