    <!-- ✅ Bootstrap JS with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12+LhQ0d+N9/3OGBz2NMCZn9u7NfXZdKNz1S4CrjxN8HTtq3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>