<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand mx-auto" href="/">COMP2537</a>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <% if (session.authenticated) { %>
          <% if (session.user_type === 'admin') { %>
            <li class="nav-item">
              <a class="nav-link" href="/admin">Admin</a>
            </li>
          <% } %>
          <li class="nav-item">
            <a class="nav-link" href="/loggedin">Members Area</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/createUser">Sign Up</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>